<!DOCTYPE html>
<html lang="ch-zn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>菜肴展示</title>
    <meta name="keywords" content="{:C('WEB_KEYWORDS')}">
    <meta name="description" content="{:C('WEB_DESCRIPTION')}">
    <link rel="shortcut icon" href="{:C('WEB_FAVICON')}">
    <link rel="stylesheet" href="HOME_TPL_CSS/bootstrap.min.css">
    <link rel="stylesheet" href="HOME_TPL_CSS/header.css">
    <link rel="stylesheet" href="HOME_TPL_CSS/display.css">
    <link rel="stylesheet" href="HOME_TPL_CSS/buttom.css">
    <link rel="stylesheet" href="HOME_TPL_CSS/top.css">
    <link rel="stylesheet" href="ADMIN_TPL_CSS/plugins/sweetalert/sweetalert.css">

</head>

<body>
    <!--头部-->
    <include file="./Static/head" />
    <!--首页导航栏-->
    <include file="./Static/nav" />
    <section class="search">
        <div class="container">
            <!--购物车特效-->
            <div class="xbody-top clearfix">
                <div class="xbody-top-center">
                    <div class="xmenu">
                        <ul class="xmenu-ul">
                            <a href="{:U('Good/cart')}">
                                <li class="xmenu-li"><span class="xmenu-a"><span class="glyphicon glyphicon-shopping-cart"></span>(<span id="num"
                                        style="color: red;">{$cartNum}</span>)</span>
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="logo">
                <img class="" src="HOME_TPL_IMG/top-logo.png">
            </div>
            <!-- 搜索框 -->
            <form method="get" action="{:U('Menu/search')}" id="searchM">
                <div class="find-area center-block clearfix">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" placeholder="请输入关键词" name="keyword"><span class="input-group-addon btn btn-warning"
                            id="search">搜索</span>
                    </div>
                </div>
            </form>

        </div>
    </section>
    <!-- menu 区 -->
    <section class="menu">
        <div class="container">
            <div class="menu-nav2">
                <ul class="clearfix text-center">
                    <switch name="flag">
                        <case value="0">
                            <li class="active"><a target="" href="{:U('Menu/show?flag=0')}">全部菜品</a></li>
                            <foreach name="property" item="pro">
                                <li><a target="" href="{:U('Menu/show?flag=1&id='.$pro['id'])}">{$pro.name}</a></li>
                            </foreach>
                            <foreach name="category" item="cat">
                                <li><a target="" href="{:U('Menu/show?flag=2&id='.$cat['id'])}">{$cat.title}</a></li>
                            </foreach>
                        </case>
                        <case value="1">
                            <li><a target="" href="{:U('Menu/show?flag=0')}">全部菜品</a></li>
                            <foreach name="property" item="pro">
                                <li <eq name="id" value="$pro['id']">class="active"</eq>><a target="" href="{:U('Menu/show?flag=1&id='.$pro['id'])}">{$pro.name}</a></li>
                            </foreach>
                            <foreach name="category" item="cat">
                                <li><a target="" href="{:U('Menu/show?flag=2&id='.$cat['id'])}">{$cat.title}</a></li>
                            </foreach>
                        </case>
                        <case value="2">
                            <li><a target="" href="{:U('Menu/show?flag=0')}">全部菜品</a></li>
                            <foreach name="property" item="pro">
                                <li><a target="" href="{:U('Menu/show?flag=1&id='.$pro['id'])}">{$pro.name}</a></li>
                            </foreach>
                            <foreach name="category" item="cat">
                                <li <eq name="id" value="$cat['id']">class="active"</eq>><a target="" href="{:U('Menu/show?flag=2&id='.$cat['id'])}">{$cat.title}</a></li>
                            </foreach>
                        </case>
                        <default />
                        <li class="active"><a target="" href="{:U('Menu/show?flag=0')}">全部菜品</a></li>
                        <foreach name="property" item="pro">
                            <li><a target="" href="{:U('Menu/show?flag=1&id='.$pro['id'])}">{$pro.name}</a></li>
                        </foreach>
                        <foreach name="category" item="cat">
                            <li><a target="" href="{:U('Menu/show?flag=2&id='.$cat['id'])}">{$cat.title}</a></li>
                        </foreach>
                    </switch>
                </ul>
            </div>
            <div class="row">
                <foreach name="list" item="menu">
                    <div class="menu-1 col-md-3 col-sm-4 col-xs-6 text-center">
                        <img class="img-responsive" src="{$menu.picurl}" alt="">
                        <div class="caption">
                            <h4>{$menu.name}</h4>
                            <p>￥&nbsp;<span>{$menu.price}.00</span></p>
                            <button class="btn btn-default"><a href="{:U('Menu/detail?mid='.$menu[id])}">详情</a></button>
                            <button class="btn btn-danger carts" type="button" onclick="addCart('{$menu.id}','{$menu.name}','{$menu.price}','{$menu.picurl}')">加入购物车</button>
                        </div>
                    </div>
                </foreach>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>{$page}</li>
                </ul>
            </nav>
        </div>
    </section>
    <!--底部区-->
    <include file="./Static/footer" />
    <!--返回顶部按钮-->
    <a id="gotop" href="JavaScript:void(0)" class="text-center"><img src="HOME_TPL_IMG/returntop.png" alt=""></a>
    <script src="HOME_TPL_JS/jquery.min.js"></script>
    <script src="HOME_TPL_JS/bootstrap.min.js"></script>
    <script src="HOME_TPL_JS/jquery-addShopping.js"></script>
    <script src="HOME_TPL_JS/top.js"></script>
    <script src="ADMIN_TPL_JS/plugins/sweetalert/sweetalert.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#search').click(function () {
                $('#searchM').submit();
            });
            $('.carts').shoping({
                endElement: ".xmenu-a",
                iconCSS: "",
                iconImg: "HOME_TPL_IMG/cart.png",
                endFunction: function (element) {
                    $.ajax({
                        type: "post",
                        url: "{:U('Cart/getNum')}",
                        data: {
                            'action': 'getNum'
                        },
                        dataType: "json",
                        success: function (response) {
                            if (response['code'] = '1') {
                                $("#num").html(response['goodsNum']);
                                return false;
                            }
                        }
                    });
                }
            });
        });

        function addCart(id, name, price, img) {
            $.ajax({
                type: "post",
                url: "{:U('Cart/addCart')}",
                data: {
                    "id": id,
                    "name": name,
                    "price": price,
                    "img": img
                },
                dataType: "json",
                success: function (response) {
                    if (response['code'] == 1) {
                        // swal('成功', '更多信息请查看购物车', 'success');
                        //setTimeout(function() { location.reload() }, 0);
                    } else {
                        var str = "";
                        for (var i in response) {
                            str += response[i] + "\n";
                        }
                        str1="document.write(str)";
                        if(str1="对不起，您未登陆无法操作！ 0 /cateringcms/index.php/Home/User/login.html"){
                            swal("失败", "对不起，您未登陆无法操作！", "error");
                        }else{
                            swal("失败", str, "error");
                        }
                        
                    }
                }
            });

        }
    </script>
</body>

</html>

</html>