
  /*menu*/
 
 
  .xbody-top {
      position: fixed;
      top: 70%;
      right: -3px;
      width: 60px;
      background: #fff;
      z-index: 999;
      border-radius: 5px;
  }
  
  .xbody-top-center {
      width: 60px;
  }
  
  .xmenu {}
  
  .xmenu-ul {
      overflow: hidden;
      float: left;
      padding: 5px 0;
      margin: 0;
  }
  
  .xmenu-li {
      width: 60px;
      height: 30px;
      margin-right: 20px;
  }
  
  .xmenu-li .glyphicon {
      color: rgb(119, 3, 3);
      font-size: 22px;
  }
  
  .xmenu-a {
      display: block;
      width: 60px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 16px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }
  
  @media screen and (max-width:1026px) {
      .xbody-top {
          position: fixed;
          top: 40%;
          right: -3px;
          width: 30px;
          background: #fff;
          z-index: 999;
          border-radius: 3px;
      }
      .xbody-top-center {
          width: 30px;
      }
      .xmenu {}
      .xmenu-ul {
          overflow: hidden;
          float: left;
          padding: 3px 0;
          margin: 0;
      }
      .xmenu-li {
          width: 30px;
          height: 20px;
          margin-right: 10px;
      }
      .xmenu-li .glyphicon {
          color: rgb(119, 3, 3);
          font-size: 10px;
      }
      .xmenu-a {
          display: block;
          width: 60px;
          height: 20px;
          text-align: center;
          line-height: 20px;
          font-size: 10px;
      }
  }
  
  @media screen and (max-width:768px) {
      .xbody-top {
          position: fixed;
          top: 60%;
          right: -3px;
          width: 40px;
          background: #fff;
          z-index: 999;
          border-radius: 3px;
      }
      .xbody-top-center {
          width: 40px;
      }
       
      .xmenu-ul {
          overflow: hidden;
          float: left;
          padding: 3px 0;
          margin: 0;
      }
      .xmenu-li {
          width: 40px;
          height: 20px;
          margin-right: 10px;
      }
      .xmenu-li .glyphicon {
          color: rgb(119, 3, 3);
          font-size: 10px;
      }
      .xmenu-a {
          display: block;
          width: 40px;
          height: 20px;
          text-align: center;
          line-height: 20px;
          font-size: 10px;
      }
  }
  
  .menu-nav2 ul {
      width: 100%;
      padding:10px 5px;
      margin-bottom: 20px;
      border-bottom: 1px solid #666;
  }
  
  .menu-nav2 ul li {
      width: 12.5%;
      float: left;
  }
  
  .menu-nav2 ul li a {
      color: #000;
      font-size: 16px;
      font-weight: 900;
  }
  
  .active {
      color: #cf000e;
  }
  
  ul .active a {
      color: #cf000e!important;
  }
  
  .menu-nav2 ul li:hover a {
      color: #cf000e;
  }
  
  @media screen and (max-width:415px) {
      .menu-nav2 ul li a {
          font-size: 10px;
      }
      .menu-nav2 ul {
       
      padding:3px 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid #666;
  }
      .menu-nav2 ul li:nth-child(1),
      .menu-nav2 ul li:nth-child(2),
      .menu-nav2 ul li:nth-child(3),
      .menu-nav2 ul li:nth-child(4) {
          width: 16%;
      }
      .menu-nav2 ul li:nth-child(5),
      .menu-nav2 ul li:nth-child(6),
      .menu-nav2 ul li:nth-child(7),
      .menu-nav2 ul li:nth-child(8) {
          width: 9%;
      }
  }
  
  .menu-nav2 ul li {
      width: 12.5%;
      float: left;
      padding: 2px 0;
  }
  
  .menu {
      padding-top: 0;
      background-color: white;
      padding-bottom:10px;
  }
  
  .menu .caption p {
      margin-left: 55%;
      color: #CF000e;
      font-weight: 700;
  }
  
  .menu .caption p span {
      color: #CF000e;
      font-size: 18px;
  }
  
  .menu .caption p {
      margin-bottom: 5px;
  }
  
  .menu img {
      border: 2px solid white;
  }
  .menu-1 img{height:209px;}
  
  .menu .caption h4 {
      color: black;
      font-weight: 900;
      margin: 5px 0;
  }
  
  .menu .caption button a {
      color: black;
  }
  
  .menu .menu-1 {
      padding-bottom:10px;
  }
 
@media screen and (max-width:1024px){
  .menu-1 img{height:168px;}
}
@media screen and (max-width:768px) {
    .menu h4 {
        font-size: 12px;
    }
    
    .menu p {
        font-size: 8px;
    }
    
     
    .menu-1 img{height:180px;}
}
@media screen and (max-width:415px) {
    .menu .input-group {
        margin-bottom: 5px!important;
        margin-left: 15%!important;
    }
    .menu-1 img{height:139px;}
}
@media screen and (max-width:376px) {
    button {
        font-size: 10px!important;
    }
.pagination>li>a, .pagination>li>span {
    padding: 3px 6px;
    margin-left: -1px; 
}
.menu-1 img{height:124px;}
}
@media screen and (max-width:321px) {
    .menu-nav2 ul li:nth-child(1),
    .menu-nav2 ul li:nth-child(2),
    .menu-nav2 ul li:nth-child(3),
    .menu-nav2 ul li:nth-child(4) {
        width: 16%;
    }
    
    .menu-nav2 ul li:nth-child(5),
    .menu-nav2 ul li:nth-child(6),
    .menu-nav2 ul li:nth-child(7),
    .menu-nav2 ul li:nth-child(8) {
        width: 9%;
    }
    
    button {
        padding: 3px 6px!important;
        border-radius: 2px!important;
    }
    .menu-1 img{height:101px;}
}
nav {
    width: 100%;
    margin:10px 0;
}
nav ul {
    float: right;
}
.pagination>li>a,
.pagination>li>span {
    color: black;
}
@media screen and (max-width:768px){
  nav {
    width: 100%;
    margin:0;
}
}
@media screen and (max-width:320px){
  .footer .container{padding:0 5px;}
  .pagination{margin:10px 0;}
}
 