body {
    margin: 0 auto;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    content: "";
}

a {
    text-decoration: none!important;
}

a:hover {
    text-decoration: none!important;
}

a:link {
    text-decoration: none!important;
}

a:active {
    text-decoration: none!important;
}

li {
    list-style: none;
}

.top-bg {
    background: url(../images/top.png);
    background-size: 100% 100%;
}

.search {
    margin-top: 50px;
}

.tel {
    width: 40%;
    float: left;
}

.tel img {
    width: 7%;
    float: left;
    height: 32px;
}

.tel span {
    color: white;
    font-size: 14px;
    line-height: 32px;
}

.login {
    float: right;
    width: 60%;
    padding: 3px 0;
}

.login ul {
    float: right;
    margin: 0;
    padding: 0;
}

.login ul li {
    float: left;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

.login ul li:hover {
    background-color: #5b0500;
}

.login a:nth-child(1) {
    color: #fff;
    padding: 5px 5px 5px 10px;
}

.login a:nth-child(2) {
    color: #fff;
    padding: 5px 0 5px 20px;
}

.top-bg {
    position: relative;
}

.search {
    margin: 20px 0;
}

.logo {
    width: 15%;
    float: left;
    margin-left: 5%
}

.logo img {
    width: 90%;
    height: 45px;
}

.find-area {
    width: 60%;
    float: right;
    margin-right: 10%;
}

.input-group-addon {
    background-color: #f0ad4e;
}

.input-group-addon:hover {
    background-color: rgb(252, 161, 19);
}

.main-nav {
    width: 100%;
    background: rgba(253, 70, 62, 0.85);
}

.leading-row {
    width: 100%;
}

.leading-row>ul {
    margin-bottom: 0;
    width: 100%;
}

.leading-row>ul>li {
    list-style: none;
    float: left;
    width: 14.2%;
    padding: 10px 0;
    position: relative;
}

.leading-row>ul>li:nth-child(1) {
    width: 8%;
}

.leading-row>ul>li:nth-child(6) {
    width: 20%;
}

.leading-row>ul>li:nth-child(6) span {
    vertical-align: middle;
}

.leading-row>ul>li>ul {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding-left: 0;
    z-index: 999;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.leading-row>ul>li>ul li {
    text-align: center;
    padding: 5px 0;
}

.leading-row>ul>li:hover ul {
    display: block;
}

.leading-row>ul>li>ul li:hover {
    background-color: rgba(253, 70, 62, 0.85);
}

.leading-row>ul>li>ul>li>a {
    color: white;
}

.leading-row>ul>li>ul>li:hover a {
    color: #0D0D0D;
}

.leading-row>ul>li>a {
    color: #fff;
    padding: 0;
    transition: all 1s ease;
}

.leading-row a:hover {
    color: black;
}

@media screen and (max-width:1024px) {}

.search {
    margin-top: 20px!important;
}


}
@media screen and (max-width:765px) {
    .main-nav .container {
        padding: 0px 5px!important;
    }

    .login ul li {
        padding: 0;
    }

    .login ul li a {
        font-size: 10px;
        padding: 3px 3px!important;
    }

    .login {
        float: right;
        width: 60%;
    }
}
@media screen and (max-width:1024px) {
    .main-nav {
        width: 100%;
        background: rgba(253, 70, 62, 0.85);
    }

    .login a {
        font-size: 10px;
        padding-top: 0!important;
        padding-bottom: 0!important;
    }

    .login {
        padding: 3px 0;
    }
}
@media screen and (max-width:768px) {
    .tel img {
        width: 10%;
        height: 26px;
    }

    .tel span {
        line-height: 26px;
        font-size: 10px;
    }

    .search {
        margin: 10px 0;
    }

    .logo img {
        width: 100%;
        height: 40px;
    }

    .leading-row a {
        color: #fff;
        padding: 0 2px;
        font-size: 10px;
    }

    .leading-row ul {
        padding-left: 0;
        margin-bottom: 0;
    }

    .leading-row>ul>li {
        padding: 3px 0;
    }

    .main-nav {
        width: 100%;
        background: rgba(253, 70, 62, 0.85);
    }

    .login {
        padding: 0;
    }

    .input-group-addon {
        padding: 6px 6px;
    }

    .leading-row>ul>li>ul {
        border-radius: 2px;
    }
}
@media screen and (max-width:765px) {
    .main-nav {
        width: 100%;
        background: rgba(253, 70, 62, 0.85);
    }

    .login a {
        font-size: 10px;
        padding-top: 0!important;
        padding-bottom: 0!important;
    }
}
@media screen and (max-width:415px) {
    .tel img {
        height: 26px;
        width: 15%;
    }

    .tel span {
        line-height: 26px;
    }

    .search {
        margin: 10px 0;
    }

    .logo img {
        width: 100%;
        height: 23px;
    }

    .login ul li a {
        font-size: 10px;
        padding-top: 0!important;
        padding-bottom: 0!important;
    }

    .input-group {
        width: 100%;
    }

    .form-control {
        display: block;
        width: 100%!important;
        height: 28px;
        font-size: 14px;
    }

    .input-group-addon {
        width: 20%;
    }

    .input-lg {
        border-radius: 3px;
    }
}
@media screen and (max-width:376px) {
    .main-nav {
        width: 100%;
        background: rgba(253, 70, 62, 0.85);
    }

    .tel img {
        width: 12%;
        height: 20px;
    }

    .tel span {
        line-height: 20px;
    }

    .login ul li {
        float: left;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 5px;
    }
}
@media screen and (max-width:321px) {
    .container {
        padding: 0 5px!important;
    }

    .main-nav {
        width: 100%;
        background: rgba(253, 70, 62, 0.85);
    }

    .search {
        margin: 5px 0;
    }

    .logo img {
        width: 100%;
        height: 20px;
        vertical-align: middle;
    }

    .tel img {
        width: 15%;
    }

    .find-area {
        margin-right: 5%;
    }

    h3 {
        margin: 5px;
        font-size: 14px;
    }
}