.leading-row>ul>li>ul{
        background-color:rgba(255,255,255,0.5);
    }
    .leading-row>ul>li>ul li:hover{background-color:white;}
    .leading-row>ul>li>ul>li:hover a{color:rgba(253, 70, 62, 1);}
 .top-bg{
         position:relative;
       }
.main-nav{position:absolute;bottom:0:right:0;z-index:2;}  
  /*register*/
   .register{
    width:100%;
    min-height:700px;
    background-image:url(../images/banner-bg.png);
    background-size:100% 100%;
    background-repeat:none;
    background-position:center;
    position:relative;
  }
  .welcomeregister{
    background:rgba(255,255,255,0.8);
    width:50%;
    position:absolute;
    top:50%;
    left:50%;  
    transform:translate(-50%,-50%);
    padding-top:10px;
    padding-bottom:20px;
    border-radius: 5px;
  }
  .welcomeregister .form-item{
    border:1px solid black;
    background:white;
    margin-top: 10px;
    margin-bottom:20px;
  }
  .welcomeregister-padding{
    width:80%;
    margin-right:10%;
    margin-left:10%
  }
  .welcomeregister-padding h3{
    text-align:center;
  }
  .welcomeregister-padding hr{
    border-top:1px solid #0f0808;
  }
  .welcomeregister form{
    width:80%;
  }
   .welcomeregister form label{
    width:30%;

    background:white;
    margin:0;
    font-size:16px;
    vertical-align:-2px;
   }
  .welcomeregister form input{
    border:0;
    width:70%;
    padding:10px 0;
    font-size:16px;
  }
  form>button{
    width:100%!important;
    margin-top:10px;
    padding:5px 0;
  }
  .verification{ width:30%!important;}
  .verification1{
    width:40%!important;
  }
  .form-item div{
    display:inline;
    width:40%;
    height:100%;
  }
  .form-item div img{
    width:38%;max-height:42px;
  }

   @media screen and (max-width:1024px){
    .welcomeregister form label{
    width:20%;
    background:white;
    margin:0;
    font-size:16px;
    vertical-align:-1.5px;
   }
   .welcomeregister{
    background:rgba(255,255,255,0.8);
    width:50%;
    position:absolute;
    top:50%;
    left:50%;  
    transform:translate(-50%,-50%);
    padding-top:10px;
    padding-bottom:20px;
    border-radius: 5px;
  }
   .welcomeregister form label{
    width:30%;
    background:white;
    margin:0;
    font-size:16px;
    vertical-align:-1.5px;
   }
  .welcomeregister form input{
    border:0;
    width:70%;
  }
  }
  @media screen and (max-width:768px){
    .welcomeregister form label{
    width:20%;
    background:white;
    margin:0;
    font-size:15px;
 
   }
   .welcomeregister{
    background:rgba(255,255,255,0.8);
    width:80%;
    position:absolute;
    top:50%;
    left:50%;  
    transform:translate(-50%,-50%);
    padding-top:10px;
    padding-bottom:20px;
    border-radius: 5px;
  }
  }
   @media screen and (max-width:415px){
    h3{
      margin-top:10px;
      margin-bottom:0;
    }
    hr{margin-top:10px;margin-bottom:10px;}
    .welcomeregister form label{
    width:20%;
    background:white;
    margin:0;
    font-size:15px;
    vertical-align:-1px!important;
   }
   .welcomeregister{
    background:rgba(255,255,255,0.8);
    width:95%;
    position:absolute;
    top:50%;
    left:50%;  
    transform:translate(-50%,-50%);
    padding-top:10px;
    padding-bottom:20px;
    border-radius: 5px;
  }
  .welcomeregister-padding{
    width:90%;
    margin-right:4%;
    margin-left:4%
  }
   
   
  .welcomeregister form{
    width:100%;
  }
   .welcomeregister form label{
    width:30%;
    background:white;
    margin:0;
    font-size:16px;
    vertical-align:-1.5px;
   }
  .welcomeregister form input{
    border:0;
    width:70%;
  }
   .register{
    width:100%;
    min-height:600px;
  }
}
  @media screen and (max-width:375px){
    .welcomeregister form label{
    width:30%;
    background:white;
    margin:0;
    font-size:15px;
 
   }
   .welcomeregister{
    background:rgba(255,255,255,0.8);
    width:95%;
    position:absolute;
    top:50%;
    left:50%;  
    transform:translate(-50%,-50%);
    padding-top:10px;
    padding-bottom:20px;
    border-radius: 5px;
  }
  }
  @media screen and (max-width:320px){
    .verification1{
    width:35%!important;
  }
       .welcomeregister form label{
    width:32%;
    background:white;
    margin:0;
    font-size:16px;
    vertical-align:-1.5px;
   }
  .welcomeregister form input{
    border:0;
    width:65%;
    font-size:12px
  }
   .form-item div img{
    width:30%;
  }
  .form-item button{
    width:27%;
    padding:1px 0;
    font-size:11px!important
  }
  }
 /*footer*/ 
.footer{
  background-color:rgb(101,18,2)
}
.foot-logo-area{
  margin-top:20px;
}
.foot-logo-area div{
 display:inline-block;
}
.foot-logo-area div:nth-child(1){
  width:10%;
    float:left;
}
.foot-logo-area div:nth-child(2){
  width:80%;
    float:left;
}
.foot-logo-area div:nth-child(3){
  width:10%;
  float:left;
}
.foot-logo{
 width:100%;
 vertical-align:top;
}
.foot-logo-area ul {
  display:inline-block;
  width:100%;

} 
.foot-logo-area ul li {
  width:33.3%;
  float:left;
}
.foot-logo-area ul li span{
  font-size:25px;
  color:white;
  display:inline-block;
  padding:8px 8px;
  background-image:url("../images/five-border.png");
  background-size:100% 100%;
}
.foot-logo-area ul li  a{
  font-size:18px;
  color:white;
}
.pr-m{
  width:10%;
  display:inline-block;float:left;
}
.pr-m img{
  width:50%;
 
}
.about {
  width:88%;
  padding:0;
  margin:25px 6%;

}
.about li{
  width:20%;
  float:left;
  text-align:center;
}
.about li a{
  font-size:16px;
  color:white;
}
.Copyright{
  margin-top: 20px;
  color:white;
}
 
  .slide .item, .slide .carousel-caption{
 
  color:#343434;
  text-align:center;
  text-shadow:0 0;
  overflow: hidden;
 }
.slide  .carousel-control{
  background-image:none;
  color:#000;
  width:5%;
  font-size:20px;
   
}
.slide .carousel-control:hover span{
  color:white;
}
.slide .carousel-indicators li{
  background-color:#ccc;
  border:0;
  width:12px;
  height:12px;

}
.slide.carousel-indicators .active{
  background-color:#3a3a3a;
}
.slide .item h4{
  font-size: 1.4em;
  font-weight: 900;
  margin: .5em 0
}
.case .item p{
  font-size: 1.2em;
  font-weight: 900;
  margin: .5em 0
}
 
@media screen and (max-width:768px){
  .container:{padding:0;}
  .foot-logo-area ul{
    padding:0;
    margin-top:15px;
  }
  .foot-logo-area ul li span{
    font-size:10px;
    padding:2px 2px;
  }
  .foot-logo-area ul li a{
    font-size:10px
  }
  .foot-logo-area div:nth-child(1){
  width:15%;
    float:left;
}
.foot-logo-area div:nth-child(2){
  width:75%;
    float:left;
}
.foot-logo-area div:nth-child(3){
  width:10%;
    float:left;

}
.foot-logo{
 width:100%;
 vertical-align:bottom;
}
.pr-m img{
  width:70%;
  height:50px;
}
  .foot-logo-area{
  margin-top:5px;
}
 
.about li a{
   font-size:10px;
}
.Copyright p{
   font-size:10px;

}
.Copyright{
  margin-top:10px;
  color:white;
}
.about {
  width:88%;
  padding:0;
  margin-top:5px;
  margin-bottom:5px;
}
}
@media screen and (max-width:415px){
   .foot-logo{
  height:35px;
}
  .pr-m img{
  width:100%;
height:35px;}
.foot-logo-area ul{
  
    margin-top:5px;
  }
}
@media screen and (max-width:320px){
  .pr-m img{
  width:100%;}
}