<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>重置密码</title>
    <meta name="keywords" content="{:C('WEB_KEYWORDS')}">
    <meta name="description" content="{:C('WEB_DESCRIPTION')}">
    <link rel="shortcut icon" href="{:C('WEB_FAVICON')}">
    <link rel="stylesheet" href="HOME_TPL_CSS/bootstrap.min.css">
    <link rel="stylesheet" href="HOME_TPL_CSS/header.css">
    <link rel="stylesheet" href="HOME_TPL_CSS/login.css">
    <link rel="stylesheet" href="HOME_TPL_CSS/buttom.css">
    <link rel="stylesheet" href="HOME_TPL_CSS/top.css">
    <link rel="stylesheet" href="HOME_TPL_CSS/validationEngine.jquery.css">

</head>

<body>
    <!--头部-->
    <include file="./Static/head" />
    <!--首页导航栏-->
    <include file="./Static/nav" />
    <section>
        <div class="welcome">
            <div class="container clearfix">

                <div class="welcomelanding">
                    <div class="welcomelanding-padding center-block">
                        <h3>重置密码</h3>
                        <hr>
                        <form class="center-block" action="?" method="post" id="resetForm">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" class="form-control validate[required,minSize[6],maxSize[15],custom[onlyLetterNumber]" name="password"
                                    id="password" placeholder="请输入密码">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" class="form-control validate[required,minSize[6],maxSize[15],custom[onlyLetterNumber],equals[password]]"
                                    name="confirm_password" id="confirm_password" placeholder="请再次输入密码">
                            </div>
                            <input class="center-block" type="submit" value="重 置">
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--底部区-->
    <include file="./Static/footer" />
    <!--返回顶部按钮-->
    <a id="gotop" href="JavaScript:void(0)" class="text-center"><img src="HOME_TPL_IMG/returntop.png" alt=""></a>
    <script src="HOME_TPL_JS/jquery.min.js"></script>
    <script src="HOME_TPL_JS/bootstrap.min.js"></script>
    <script src="HOME_TPL_JS/top.js"></script>
    <script src="HOME_TPL_JS/jquery.validationEngine-zh_CN.js"></script>
    <script src="HOME_TPL_JS/jquery.validationEngine.js"></script>
    <script>
        $(document).ready(function () {
            $('#resetForm').validationEngine('attach', {
                promptPosition: 'centerRight: -50, -10',
            });
        });
    </script>
</body>

</html>