<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>404 页面</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="ADMIN_TPL_CSS/bootstrap.min-v=3.3.6.css" rel="stylesheet">
    <link href="ADMIN_TPL_CSS/font-awesome.min-v=4.4.0.css" rel="stylesheet">
    <link href="ADMIN_TPL_CSS/animate.min.css" rel="stylesheet">
    <link href="ADMIN_TPL_CSS/style.min-v=4.1.0.css" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">页面未找到！</h3>

        <div class="error-desc">
            <p>请检查链接地址是否正确！！！</p>
            <a href="{:U('Index/home')}" class="btn btn-primary">返回首页</a>
        </div>
    </div>
    <script src="ADMIN_TPL_JS/jquery.min-v=2.1.4.js"></script>
    <script src="ADMIN_TPL_JS/bootstrap.min-v=3.3.6.js"></script>

</body>

</html>