<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="hidden-xs">
            <a href="{:U('Home/Index/index')}" data-index="0"><i class="fa fa-desktop"></i> 查看前台</a>
            </li>
        </ul>
    </nav>
</div>