<div class="setup-left">
    <ul>
        <li>
            <h3>个人信息</h3>
            <ul>
                <li>
                    <h4><a href="{:U('ClientCenter/index')}">基本信息</a></h4>
                </li>
                <li>
                    <h4><a href="{:U('ClientCenter/head')}">头像照片</a></h4>
                </li>
            </ul>
        </li>
        <li>
            <h3><a href="{:U('ClientCenter/order')}">我的订单</a></h3>
        </li>
        <li>
            <h3><a href="{:U('ClientCenter/collect')}">我的收藏</a></h3>
        </li>
    </ul>
</div>